*{
	margin:0;
	padding:0;
}
h3{
	color:green;
}
body{
	width:1000px;
	margin:50px;
	padding:10px;
}
main{
	width:600px;
	
}
section{
		width:400px;
		float:left;
}
fieldset { 
	width:700px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
	border: 2px solid blue;
	
}
legend {
   	 display: block;
   	 padding-left: 2px;
    	padding-right: 2px;
    	border: 2px solid blue;
}
#button1{
		width:50px;
	    	padding-left: 2px;
		padding-right: 2px;
		border: 2px solid blue;
		background-color:gray;
}
#button{
		width:50px;
	    	padding-left: 2px;
		padding-right: 2px;
		border: 2px solid blue;
		background-color:gray;
}
aside{
	float:right;
	width:200px;
}
